@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h5,
h4,
h3,
h2,
h1 {
  margin: 0;
}

p {
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  transition: .3s;
}

input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
  margin: 0;
}

textarea {
  resize: none;
}

.container {
  max-width: 1448px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 38px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger {
  display: none;
}

.header__logo {
  width: 128px;
  height: 50px;
}

.logo__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__phone-call.phone-call--mobile {
  display: none;
}

.main-nav__list {
  display: flex;
  align-items: center;
  gap: 28px;
}

.main-nav__item {
  display: flex;
}

.main-nav__link {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #C0D0DF;
}

.main-nav__link::after {
  content: "";
  position: absolute;
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #19DFC9;
  transition: width .5s ease-in-out;
}

.main-nav__link:hover {
  color: #ffffff;
}

.main-nav--second .main-nav__link:hover {
  color: #0B54A0;
}

.main-nav__link:hover::after {
  width: 100%;
}

.main-nav--second .main-nav__link:hover::after {
  display: none;
}

.phone-call {
  display: flex;
  align-items: center;
  gap: 15px;
}

.phone-call__tel {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.phone-call__tel:hover {
  color: #19DFC9;
}

.phone-call--second .phone-call__tel {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #40444B;
}

.phone-call--second .phone-call__tel:hover {
  color: #0155AE;
}

.phone-call__icon {
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 900px;
  background: rgba(240, 243, 246, 0.07);
  transition: .3s;
}

.phone-call--second .phone-call__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 47px;
  border-radius: 900px;
  transition: .3s;
  background-color: #EEF4FA;
}

.phone-call__tel:hover .phone-call__icon {
  background-color: rgba(25, 223, 201, 0.2);
}

.phone-call--second .phone-call__tel:hover .phone-call__icon {
  background-color: rgba(1, 85, 174, 0.2);
}

.phone-call__btn {
  padding: 15px 20px;
  font-size: 11px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px;
  color: #0B54A0;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border-radius: 900px;
}

.phone-call--second .phone-call__btn {
  padding: 15px 20px;
  font-size: 11px;
  font-weight: 800;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #0155AE;
  border-radius: 900px;
  transition: .3s;
}

.phone-call--second .phone-call__btn:hover {
  color: #0E655B;
  background-color: #19DFC9;
}

.phone-call__btn:hover {
  color: #FFFFFF;
  background-color: #0B4888;
}

/* Content */
.page__main {
  min-height: 100vh;
}

/* Hero */

.page__hero {
  position: relative;
  z-index: 1;
  min-height: 1112px;
}

.hero {
  padding-top: 221px;
  padding-bottom: 232px;
  color: #FFFFFF;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero__bg.hero__bg--tablet {
  display: none;
}

.hero__bg.hero__bg--mobile {
  display: none;
}

.hero__tag {
  display: flex;
  align-items: center;
  gap: 5px;
  width: max-content;
}

.tag {
  padding: 9px 10px;
  border-radius: 13px;
  background: #17BBEE;
}

.tag__text {
  font-size: 11px;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 0.33px;
  text-transform: uppercase;
}

.hero__wrapper {
  display: flex;
  align-items: flex-start;
}

.hero__promo {
  position: relative;
  z-index: 1;
}

.promo__heading {
  max-width: 629px;
  font-size: 76px;
  font-weight: 800;
  line-height: 122%;
  letter-spacing: -1px;
  color: #FFFFFF;
}

.promo__label {
  position: absolute;
  top: 170px;
  left: -6px;
  z-index: -1;
  transform: rotate(-4.867deg);
}

.label__text {
  position: absolute;
  right: 23px;
  top: 9px;
  font-size: 48px;
  font-weight: 800;
  line-height: 103%;
  letter-spacing: 1px;
}

.label__icon-mobile {
  display: none;
}

.promo__text {
  max-width: 572px;
  margin-top: 83px;
  margin-bottom: 34px;
  font-size: 21px;
  font-weight: 500;
  line-height: 169%;
  letter-spacing: 0.3px;
  color: #90BDEA;
}

.features {
  display: flex;
  align-items: flex-start;
  gap: 22px;
}

.features__item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.features__icon {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #0B4888;
}

.features__icon::before {
  content: '';
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border-radius: 50%;
  background-color: rgba(186, 207, 227, 0.03);
  z-index: -1;
}

.features__icon::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 1px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxNCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuMTQ1MjQ2IDE2LjcxOThDMS4xNjY5NiAxMy4zMjQ1IDIuODQ3NDIgMTAuMTYzNyA1LjA5MDY5IDcuNDE3ODNDNy4zMzM5NSA0LjY3MTk4IDEwLjA5NjEgMi4zOTQ4NSAxMy4yMTk0IDAuNzE2NDc4TDEzLjgxNTggMS44MjY0M0MxMC44MzgzIDMuNDI2NDggOC4yMDUwOCA1LjU5NzMzIDYuMDY2NTEgOC4yMTUwNEMzLjkyNzkzIDEwLjgzMjcgMi4zMjU5IDEzLjg0NiAxLjM1MTg3IDE3LjA4MjlMMC4xNDUyNDYgMTYuNzE5OFoiIGZpbGw9IiMxOERFQ0EiLz4KPC9zdmc+Cg==);
  width: 14px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.features__text {
  max-width: 145px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.hero__timer {
  position: relative;
  margin-top: 37px;
  max-height: 117px;
}

.timer {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  padding: 30px 16px 25px 26px;
  box-shadow: 109px 206px 65px 0 rgba(0, 0, 0, 0.00), 70px 132px 60px 0 rgba(0, 0, 0, 0.01), 39px 74px 50px 0 rgba(0, 0, 0, 0.03), 17px 33px 37px 0 rgba(0, 0, 0, 0.04), 4px 8px 20px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(14.5px);
  border-radius: 27px;
  background: linear-gradient(116deg, rgba(73, 33, 127, 0.59) -0.98%, rgba(33, 37, 126, 0.59) 95.36%);
}

.timer>span {
  font-family: "Nunito", sans-serif;
  letter-spacing: -0.5px;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.timer__countdown {
  position: absolute;
  top: -19px;
  left: 24px;
  padding: 12px 14px;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  border-radius: 900px;
  background: linear-gradient(97deg, #2685F4 -3.13%, #ED43C0 41.03%, #FF2567 79.82%, #FF3E07 121%);
}

.timer__num {
  font-size: 44px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 3px;
}

.timer__day {
  margin-top: 2px;
  display: block;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  opacity: 0.3;
}

.hero__bottom {
  max-width: 1236px;
  margin-top: 47px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero__kit-link {
  margin-bottom: 22px;
}

.kit-link {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 14px 26px 14px 14px;
  background-color: rgba(0, 168, 235, 0.31);
  box-shadow: 0 9px 53px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  cursor: pointer;
  transition: .3s;
  border-radius: 900px;
}

.kit-link__text {
  max-width: 183px;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  text-align: start;
  color: #FFFFFF;
}

.kit-link__box {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 67px;
  height: 67px;
  background: linear-gradient(200deg, #19DFC9 -9.17%, #3C43E4 77.52%);
  border-radius: 50%;
}

.kit-link:hover {
  background-color: #00a8eb;
}

.order {
  display: flex;
  align-items: center;
  gap: 28px;
  cursor: pointer;
}

.order__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  background-color: #19DFC9;
  box-shadow: 0 0 62px rgba(25, 223, 201, 0.30), 0 0 35px rgba(6, 37, 53, 0.17);
}

.order__action {
  max-width: 177px;
  font-size: 32px;
  font-weight: 600;
  line-height: 108%;
  letter-spacing: 1px;
  transition: .3s;
}

.order__rotation {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .3s;
  transform: translate(-50%, -50%) rotate(0);
}

.order__icon::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 92px;
  height: 92px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTIiIGhlaWdodD0iOTIiIHZpZXdCb3g9IjAgMCA5MiA5MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgOTEuNUMyLjEyMTUyZS0wNiA2Ny4yMzI3IDkuNjQwMTUgNDMuOTU5MyAyNi43OTk3IDI2Ljc5OTdDNDMuOTU5MyA5LjY0MDE1IDY3LjIzMjcgLTIuODkzODVlLTA3IDkxLjUgMFYyLjA1NTU2QzY3Ljc3NzkgMi4wNTU1NiA0NS4wMjczIDExLjQ3OTEgMjguMjUzMiAyOC4yNTMyQzExLjQ3OTIgNDUuMDI3MyAyLjA1NTU3IDY3Ljc3NzkgMi4wNTU1NiA5MS41SDBaIiBmaWxsPSIjMThERUNBIi8+Cjwvc3ZnPgo=);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.order:hover .order__rotation {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

.order:hover .order__action {
  color: #19DFC9;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Bottle-set */

.bottle-set {
  position: relative;
  z-index: 2;
  padding-top: 112px;
  padding-bottom: 102px;
  background-color: #E7EDF3;
}

.bottle-set::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 50%;
  transform: translate(-50%, -99%);
  width: 100%;
  height: 172px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxNzIiIHZpZXdCb3g9IjAgMCAxOTIwIDE3MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5MjAgNDJDODkzIC0xMjguNTUxIDcxNiA0MjEuOTQ5IDAgMFYxNzEuNDQ5SDE5MjBMMTkyMCA0MloiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0xOTIwIDEwMkM5OTQgLTEyOC41IDY1OS4zODQgMzU5LjIxNyAwIDQwLjk5OThWMTcxLjQ0OUgxOTIwTDE5MjAgMTAyWiIgZmlsbD0iI0U3RURGMyIvPgo8L3N2Zz4K);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.bottle-set::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 99%);
  width: 100%;
  height: 172px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxNzIiIHZpZXdCb3g9IjAgMCAxOTIwIDE3MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5MjAgMTI5Ljg5OEM4OTMgMzAwLjQ0OSA3MTYgLTI1MC4wNTEgMCAxNzEuODk4VjAuNDQ5MjE5SDE5MjBMMTkyMCAxMjkuODk4WiIgZmlsbD0iI0Y0RjlGRiIvPgo8cGF0aCBkPSJNMTkyMCA2OS44OTg1Qzk5NCAzMDAuMzk4IDY1OS4zODQgLTE4Ny4zMTkgMCAxMzAuODk5VjAuNDQ5MjE5SDE5MjBMMTkyMCA2OS44OTg1WiIgZmlsbD0iI0U3RURGMyIvPgo8L3N2Zz4K);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.bottle-set__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.bottle-set__left {
  position: relative;
  z-index: 1;
  width: 427px;
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-shrink: 0;
  gap: 25px;
}

.bottle-set__title {
  margin: 0;
  font-size: 49px;
  font-weight: 800;
  line-height: 59px;
  letter-spacing: 0.6px;
  color: #3E4043;
}

.bottle-set__text {
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.2px;
  color: #5A5F65;
}

.bottle-set__list {
  display: flex;
  align-items: stretch;
}

.bottle-set__item {
  width: 50%;
  min-width: 234px;
  flex-shrink: 0;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border-radius: 20px;
}

.bottle-set__item--first {
  padding-right: 45px;
  background-color: #0B54A0;
}

.bottle-set__item--second {
  margin-left: -40px;
  background-color: #4A217E;
}

.bottle-set__block-title {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  font-weight: 800;
  line-height: 133%;
  letter-spacing: -0.5px;
  color: #FFFFFF;
}

.bottle-set__block-slogan {
  font-size: 15px;
  font-weight: 500;
  line-height: 133%;
  opacity: 0.7;
  color: #FFFFFF;
}

.bottle-set__center {
  position: relative;
  width: 551px;
  flex-shrink: 0;
}

.bottle-set__center::before {
  position: absolute;
  content: '';
  width: 588px;
  height: 588px;
  top: -11px;
  left: -6px;
  background-color: transparent;
  border: 43px solid #BACEE2;
  border-radius: 50%;
  opacity: 0.3;
}

.bottle-set__image {
  position: absolute;
  top: -65px;
  left: 50%;
  width: auto;
  height: 713px;
  transform: translateX(-50%);
}

.bottle-set__btn {
  position: absolute;
  top: 358px;
  left: 50%;
  width: 315px;
  transform: translateX(-50%);
}

.bottle-set__right {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  width: 382px;
  flex-shrink: 0;
  box-shadow: 0 4px 55px 0 rgba(140, 152, 163, 0.15);
  border-radius: 22px;
}

.bottle-set__min {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  min-width: 139px;
  width: 139px;
  padding: 22px 15px;
  background: linear-gradient(270deg, #EEF4FB 0%, #F4F9FF 10.07%);
}

.bottle-set__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #FFFFFF;
}

.bottle-set__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.bottle-set__box img {
  width: 96px;
  height: auto;
}

.bottle-set__btn {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 22px;
  padding: 14px 26px 14px 14px;
  background-color: rgba(0, 168, 235, 0.31);
  box-shadow: 0 9px 53px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  cursor: pointer;
  transition: .3s;
  border-radius: 900px;
}

.bottle-set__btn:hover {
  background-color: #00a8eb;
}

.bottle-set__btn-icon-box {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  flex-shrink: 0;
  background: linear-gradient(200deg, #19DFC9 -9.17%, #3C43E4 77.52%);
  border-radius: 50%;
}

.bottle-set__btn-text {
  max-width: 183px;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  text-align: start;
  color: #FFFFFF;
}

.bottle-set__box::after {
  content: '';
  position: absolute;
  top: 41px;
  right: -22px;
  width: 14px;
  height: 14px;
  background-color: #FFFFFF;
  transform: rotate(45deg);
  transform-origin: 50%;
}

.bottle-set__box-desc {
  font-size: 13px;
  font-weight: 600;
  line-height: 139%;
  text-align: center;
  color: #40444B;
}

.bottle-set__block-top {
  padding: 14px;
  border-radius: 13px;
  border: 1px dashed #CDE3F9;
}

.bottle-set__block-price-heading {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 110%;
  color: #626365;
}

.bottle-set__block-price-sum {
  margin-top: 5px;
  font-size: 27px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1px;
  color: #3E4043;
}

.bottle-set__block-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.bottle-set__block-item-img {
  width: 34px;
  height: auto;
  flex-shrink: 0;
}

.bottle-set__block-content-slogan {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: #40444B;
}

.bottle-set__block-content-text {
  display: block;
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  color: #808992;
}

.bottle-set__order-btn {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  transition: .3s;
  border-radius: 20px;
  background: #0B54A0;
}

.bottle-set__order-btn:hover {
  background-color: #19DFC9;
  color: #0E655B;
}

/* Advantages section */

.advantages {
  position: relative;
  padding-top: 222px;
  padding-bottom: 90px;
}

.advantages__title {
  font-size: 51px;
  font-weight: 800;
  text-align: center;
  line-height: 56px;
  letter-spacing: 0.9px;
  color: #3E4043;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 24px;
  margin-top: 40px;
}

.advantages__item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 24px;
  background: #FFF;
  border: 1px solid #F2F4FA;
  border-radius: 20px;
}

.advantages__item-title {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: -0.5px;
  color: #40444B;
}

.advantages__item-text {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 162%;
  letter-spacing: -0.28px;
  color: #787C81;
}

.advantages__item-image {
  width: 60px;
  height: auto;
  flex-shrink: 0;
}

.advantages__item--bg {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  padding: 25px;
  overflow: hidden;
}

.advantages__item.advantages__item--bg {
  display: block;
}

.advantages__item--bg .advantages__item-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100%;
}

.advantages__item.advantages__item--bg .advantages__item-title {
  color: #FFFFFF;
}

.advantages__item.advantages__item--bg .advantages__item-text {
  max-width: 205px;
  margin-bottom: 5px;
  color: #B9C7DD;
}

.advantages__item-link {
  display: block;
  width: max-content;
  font-size: 15px;
  font-weight: 600;
  line-height: 120%;
  color: #19DFC9;
  border-bottom: 1px solid rgba(25, 223, 201, 0.50);
}

.advantages__item-link:hover {
  border-color: #19DFC9;
}

/* Brands section */

.brands {
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 262px;
}

.brands__title {
  font-size: 51px;
  font-weight: 800;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.9px;
  color: #3E4043;
}

.brands__text {
  max-width: 1004px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #818B9A;
  font-size: 16px;
  font-weight: 500;
  line-height: 162%;
}

.brands__slider {
  margin-top: 60px;
}

.brands-slider {
  overflow: visible;
  display: flex;
  gap: 20px;
}

.brands-slider__slide {
  min-width: 453.333px;
  padding: 22px;
  padding-top: 0;
  background-color: #FFFFFF;
  transition: .3s;
  border-radius: 20px;
  box-shadow: 0 0 25px 0 rgba(41, 59, 76, 0.07);
  border: 3px solid #FFFFFF;
}

.brands-slider__slide:hover {
  border-color: #0B54A0;
}

.brands-slider__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: #40444B;
}

.brands-slider__slide-top {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #E7EDF3;
  margin-top: -24px;
  transition: .3s;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

.brands-slider__slide:hover .brands-slider__slide-top {
  border-color: #0B54A0;
}

.brands-slider__slide-top-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.brands-slide__next,
.brands-slide__prev {
  display: none;
}

.slide-info {
  margin-top: 14px;
  margin-bottom: 15px;
  padding: 13px;
  border: 1px dashed #CDE3F9;
  border-radius: 13px;
}

.slide-info__top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.slide-info__text {
  margin-top: 1px;
  font-size: 15px;
  line-height: 23px;
  color: #494B4D;
}

.slide-info__top-text {
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  color: #494B4D;
}

.brands__quality {
  margin-top: 60px
}

.brands__quality-title {
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.5px;
}

.brands__quality-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 42px;
}

.brands__quality-item {
  display: flex;
  align-items: center;
  gap: 25px;
}

.brands__quality-item-left {
  position: relative;
  z-index: 1;
  width: 86px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #0B54A0;
  border-radius: 50%;
}

.brands__quality-item-left::before {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border-radius: 50%;
  background-color: rgba(11, 84, 160, 0.08);
  z-index: -1;
}

.brands__quality-item-left::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 1px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjciIHZpZXdCb3g9IjAgMCAyMyAyNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuODIzOTEgMjUuNTA3N0MyLjQ1MTA4IDIwLjEwMDQgNS4xMjczNyAxNS4wNjY1IDguNjk5OTggMTAuNjkzNUMxMi4yNzI2IDYuMzIwNDcgMTYuNjcxNSAyLjY5Mzk1IDIxLjY0NTcgMC4wMjA5NzY1TDIyLjU5NTYgMS43ODg2OEMxNy44NTM2IDQuMzM2OTEgMTMuNjU5OSA3Ljc5NDE5IDEwLjI1NDEgMTEuOTYzMUM2Ljg0ODE5IDE2LjEzMjEgNC4yOTY3OSAyMC45MzEgMi43NDU1NiAyNi4wODZMMC44MjM5MSAyNS41MDc3WiIgZmlsbD0iIzE4REVDQSIvPgo8L3N2Zz4K);
  width: 23px;
  height: 27px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.brands__quality-text {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: -0.5px;
  color: #40444B;
}

.brands__quality-slogan {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 162%;
  letter-spacing: -0.28px;
  color: #5C5F64;
}

/* Levels section */

.levels {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 214px;
  background: radial-gradient(91.18% 61.82% at 50.76% 102.63%, #F8FBFF 0%, #E7EDF3 100%);
}

.levels__bg {
  position: absolute;
  z-index: -1;
  width: 1260px;
  height: auto;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.levels::before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 0;
  left: 50%;
  width: 100%;
  height: 172px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxNzMiIHZpZXdCb3g9IjAgMCAxOTIwIDE3MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5MjAgNDIuODk4NEM4OTMgLTEyNy42NTIgNzE2IDQyMi44NDggMCAwLjg5ODQzOFYxNzIuMzQ4SDE5MjBMMTkyMCA0Mi44OTg0WiIgZmlsbD0iI0Y0RjlGRiIvPgo8cGF0aCBkPSJNMTkyMCAxMDIuODk4Qzk5NCAtMTI3LjYwMiA2NTkuMzg0IDM2MC4xMTUgMCA0MS44OTgzVjE3Mi4zNDhIMTkyMEwxOTIwIDEwMi44OThaIiBmaWxsPSIjRTdFREYzIi8+Cjwvc3ZnPgo=);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
  transform: translate(-50%, -99%);
}

.levels__title {
  font-size: 51px;
  font-weight: 800;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.9px;
  color: #3E4043;
}

.levels__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin-top: 67px;
}

.levels__item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  padding-top: 0;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.03);
}

.levels__num {
  position: relative;
  width: 48px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -34px;
  font-size: 16px;
  font-weight: 800;
  line-height: 139%;
  text-align: center;
  color: #FFFFFF;
  background: #17BBEE;
  border-radius: 10px;
}

.levels__num::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 50%;
  bottom: -12px;
  width: 0;
  height: 0;
  transform: translateX(-50%);
  border: 8px solid transparent;
  border-top: 8px solid #17BBEE;
}

.levels__num:not(.how-item:nth-last-of-type(2) .how-box)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translate(100%, -50%);
  width: 196px;
  height: 4px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTk2IiBoZWlnaHQ9IjQiIHZpZXdCb3g9IjAgMCAxOTYgNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjEuNSIgeTE9IjEuODQ3NjYiIHgyPSIxOTQuMTY3IiB5Mj0iMS44NDc2NiIgc3Ryb2tlPSIjRENFMkVBIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWRhc2hhcnJheT0iMSAxMyIvPgo8L3N2Zz4K);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.levels__image-box {
  width: 70px;
  height: 83px;
  margin-top: 17px;
  margin-bottom: 15px;
  background-color: purple;
}

.levels__item:nth-last-of-type(2) .levels__image {
  margin-left: -24px;
}

.levels__subtitle {
  font-family: "Nunito", sans-serif;
  letter-spacing: -0.5px;
  font-size: 18px;
  font-weight: 800;
  line-height: 130%;
  color: #40444B;
}

.levels__text {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: #5C5F64;
}

.levels__item.levels__item--second {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.levels__btn-item {
  margin-top: 22px;
}

.levels__item-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.levels__action {
  max-width: 165px;
  font-family: "Nunito", sans-serif;
  letter-spacing: -0.5px;
  font-size: 18px;
  font-weight: 800;
  line-height: 130%;
  color: #FFFFFF;
}

.levels__item.levels__item--second .levels__text {
  display: block;
  max-width: 113px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: #FFFFFF;
}

.levels__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 30px;
  font-family: inherit;
  white-space: nowrap;
  border-radius: 20px;
  background-color: #19DFC9;
  box-shadow: 0 24px 29px 0 rgba(16, 65, 114, 0.26);
}

.levels__btn:hover {
  background-color: #0B54A0;
}

.levels__btn-text {
  font-size: 16px;
  font-weight: 600;
  color: #0E655B;
  transition: .3s;
}

.levels__btn:hover .levels__btn-icon path {
  stroke: #ffffff;
}

.levels__btn:hover .levels__btn-text {
  color: #FFFFFF;
}

/* Gift section */

.gift {
  position: relative;
  z-index: 1;
  padding-top: 91px;
  padding-bottom: 400px;
}

.gift__bg-desktop {
  position: absolute;
  z-index: -1;
  top: -156px;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.gift__bg-tablet {
  display: none;
}

.gift__bg-mobile {
  display: none;
}

.gift__title {
  font-size: 51px;
  font-weight: 800;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.9px;
  color: #FFFFFF;
}

.gift-row {
  display: flex;
  align-items: stretch;
  gap: 20px;
  margin-top: 34px;
}

.gift-wrapper {
  flex-grow: 1;
}

.gift-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 25px;
  background: #FFF;
  border-radius: 20px;
  box-sizing: border-box;
}

.gift-block {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 192px;
  display: flex;
  align-items: center;
  padding: 25px;
  border-radius: 16px;
  background: linear-gradient(180deg, #FFF -70.21%, #E7EDF3 100%);
}

.gift-block__bg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.gift-block__gift-box {
  max-width: 171px;
}

.gift-box__heading {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: -0.5px;
  color: #40444B;
}

.gift-box__text {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.14px;
  color: #8B8F96;
}

.gift__gift-limits {
  position: relative;
  z-index: 1;
  width: 300px;

}

.gift-limits {
  display: flex;
  padding: 0 25px 35px;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 68px 0 #0B4D93;
}

.gift-limits__bg-desktop {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.gift-limits__bg-tablet {
  display: none;
}

.gift-limits__bg-mobile {
  display: none;
}

.gift-limits__block {
  max-width: 223px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.gift-limits__top {
  margin-top: -20px;
  padding: 12px 14px;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  color: #FFFFFF;
  border-radius: 900px;
  background: linear-gradient(97deg, #2685F4 -3.13%, #ED43C0 41.03%, #FF2567 79.82%, #FF3E07 121%);
}

.gift-limits__title {
  text-align: center;
  font-family: "Nunito", sans-serif;
  letter-spacing: -0.5px;
  font-size: 24px;
  font-weight: 800;
  line-height: 120%;
  color: #FFFFFF;
}

.gift-limits__text {
  margin-top: 11px;
  font-size: 15px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

.gift-limits__timer {
  margin-top: 20px;
}

.timer.timer--gift {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  backdrop-filter: unset;
  box-shadow: none;
  background: none;
}

.timer.timer--gift .timer__num {
  font-size: 38px;
  line-height: 100%;
  color: #FFFFFF;
}

.timer.timer--gift .timer__text {
  display: block;
  margin-top: 2px;
  font-size: 13px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.49;
}

.timer.timer--gift .timer__dots {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.5px;
  color: #FFFFFF;
}

.gift-limits__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  background-color: transparent;
}

.gift-limits__btn-icon {
  position: relative;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: #19DFC9;
  box-shadow: 0 0 62px rgba(25, 223, 201, 0.30), 0 0 35px rgba(6, 37, 53, 0.17);
}

.gift-limits__btn-icon::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  border-radius: 50%;
  background-color: #19DFC9;
  box-shadow: 0 0 62px rgba(25, 223, 201, 0.30), 0 0 35px rgba(6, 37, 53, 0.17);
  opacity: 0.4;
}

.gift-limits__btn-rotation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gift-limits__btn-text {
  font-size: 19px;
  font-weight: 700;
  line-height: 108%;
  text-align: center;
  color: #FFFFFF;
  transition: .3s;
}

.gift-limits__btn:hover .gift-limits__btn-rotation {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

.gift-limits__btn:hover .gift-limits__btn-text {
  color: #19DFC9;
}

/* Reviews section */

.reviews {
  padding-top: 80px;
  padding-bottom: 80px;
}

.reviews__title {
  font-size: 51px;
  font-weight: 800;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.9px;
  color: #3E4043;
}

.reviews__text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  max-width: 1052px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 162%;
  text-align: center;
  color: #818B9A;
}

.reviews-slider__wrapper {
  margin-top: 40px;
  width: calc(100% + 268px);
  margin-left: -134px;
}

.review {
  padding: 23px;
  height: auto;
  border-radius: 20px;
  border: 2px solid #F2F4FA;
  background: #FFFFFF;
}

.review-author {
  display: flex;
  align-items: center;
  gap: 15px;
}

.review-author__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E9F3F9;
}

.review-author__info-name {
  font-family: "Nunito", sans-serif;
  letter-spacing: -0.5px;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  color: #40444B;
}

.review-author__info-date {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  color: #818B9A;
}

.review__text {
  margin-top: 13px;
  font-size: 15px;
  font-weight: 500;
  line-height: 156%;
  color: #575A60;
}

.reviews-slider__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-top: 40px;
}

.navigation__button {
  position: static;
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  background-color: #E7EDF3;
  border-radius: 15px;
  opacity: 1;
  transition: .3s;
}

.navigation__button:hover {
  background-color: #0B54A0;
}

.navigation__button:hover svg path {
  stroke: #ffffff;
}

.pagination {
  position: static;
  width: auto !important;
  display: flex;
  align-items: center;
  gap: 7px;
}

.swiper-pagination-bullet {
  margin: 0 !important;
  width: 7px;
  height: 7px;
  border-radius: 900px;
  background-color: #FFFFFF;
  border: 2px solid #98A2A7;
  opacity: 0.3;
  transition: .3s;
}

.swiper-pagination-bullet-active {
  width: 20px;
  border-color: #0C5EAB;
  opacity: 1;
}

/* Supersales section */

.supersales {
  padding-top: 60px;
  padding-bottom: 40px;
  border-top: 1px solid #F2F4FA;
}

.supersales__wrapper {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.supersales__row {
  width: 355px;
  flex-shrink: 0;
}

.supersales__row-two {
  display: flex;
  align-items: stretch;
  gap: 20px;
}

.supersales__titles {
  font-size: 51px;
  font-weight: 800;
  line-height: 56px;
  text-align: left;
  letter-spacing: 0.9px;
  color: #3E4043;
}

.supersales__text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 162%;
  color: #818B9A;
}

.superaction-steps {
  flex-grow: 1;
}

.superaction-steps__box {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 19px 15px 47px 69px;
  margin-top: -31px;
  border-radius: 20px 20px 0 0;
  background-color: #12447F;
}

.superaction-steps__box:first-child {
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 45px;
}

.superaction-steps__box--two {
  background-color: #0B54A0;
}

.superaction-steps__box--three {
  padding-bottom: 19px;
  border-radius: 20px;
  background-color: #00A5E6;
}

.superaction-box:first-child .superaction-steps__number {
  top: -1px;
}

.superaction-steps__number {
  position: absolute;
  left: -39px;
  top: 5px;
  color: transparent;
  font-size: 82px;
  font-style: normal;
  font-weight: 800;
  line-height: 107%;
  -webkit-text-stroke: 1px #FFFFFF;
  /* text-stroke: 1px #FFFFFF; */
  opacity: 0.09;
  color: transparent;
}

.superaction-steps__text {
  font-size: 15px;
  line-height: 137%;
  color: #FFFFFF;
}

.supersales__superaction {
  width: 264px;
}

.superaction {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 24px 25px 20px;
  border-radius: 20px;
  overflow: hidden;
  border-radius: 20px;
}

.superaction__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.superaction__sale {
  font-family: "Nunito", sans-serif;
  letter-spacing: -0.5px;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  color: #FFFFFF;
}

.superaction__order {
  margin-bottom: 17px;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  margin-top: 18px;
  color: #FFFFFF;
}

.superaction__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 30px;
  font-family: inherit;
  white-space: nowrap;
  border-radius: 20px;
  background-color: #19DFC9;
  box-shadow: 0 24px 29px 0 rgba(16, 65, 114, 0.26);
}

.superaction__btn:hover {
  background-color: #0B54A0;
}

.superaction__btn-text {
  font-size: 16px;
  font-weight: 600;
  color: #0E655B;
  transition: .3s;
}

.superaction__btn:hover .superaction__icon path {
  stroke: #ffffff;
}

.superaction__btn:hover .superaction__btn-text {
  color: #FFFFFF;
}

/* Preorder section */

.preorder {
  position: relative;
  z-index: 1;
  padding-top: 125px;
  padding-bottom: 64px;
  color: #FFFFFF;
}

.preorder__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.preorder__left {
  max-width: 584px;
}

.preorder__title {
  margin-top: 31px;
  margin-bottom: 20px;
  font-size: 51px;
  font-weight: 800;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.9px;
  text-align: left;
  color: #FFFFFF;
}

.preorder__text {
  max-width: 490px;
  font-size: 21px;
  font-weight: 500;
  line-height: 169%;
  color: #90BDEA;
}

.preorder__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.preorder__image--small {
  display: none;
}

.preorder__timer {
  max-width: 311px;
}

.preorder__form {
  max-width: 368px;
  width: 100%;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  border-radius: 27px;
  background: linear-gradient(116deg, rgba(73, 33, 127, 0.59) -0.98%, rgba(33, 37, 126, 0.59) 95.36%);
  box-shadow: 109px 206px 65px 0 rgba(0, 0, 0, 0.00), 70px 132px 60px 0 rgba(0, 0, 0, 0.01), 39px 74px 50px 0 rgba(0, 0, 0, 0.03), 17px 33px 37px 0 rgba(0, 0, 0, 0.04), 4px 8px 20px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(14.5px);
}

.preorder__heading {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  letter-spacing: -0.5px;
  font-weight: 800;
  text-align: center;
  font-style: normal;
  line-height: 120%;
  color: #FFFFFF;
}

.about-pagination {
  display: none;
}

/* Footer */

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 29px;
  border-bottom: 1px solid #F2F4FA;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__logo {
  width: 128px;
  height: 50px;
  flex-shrink: 0;
}

.footer__copyright {
  font-size: 13px;
  line-height: 134%;
  color: #7D838C;
}

.footer__policy-list-link {
  font-size: 13px;
  font-weight: 500;
  line-height: 134%;
  color: #5B5D61;
  border-bottom: 1px solid rgba(91, 93, 97, 0.35);
}