@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h5,
h4,
h3,
h2,
h1 {
  margin: 0;
}

p {
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  transition: .3s;
}

input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
  margin: 0;
}

textarea {
  resize: none;
}

.container {
  max-width: 1448px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 38px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger {
  display: none;
}

.header__logo {
  width: 128px;
  height: 50px;
}

.logo__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__phone-call.phone-call--mobile {
  display: none;
}

.main-nav__list {
  display: flex;
  align-items: center;
  gap: 28px;
}

.main-nav__item {
  display: flex;
}

.main-nav__link {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #C0D0DF;
}

.main-nav__link::after {
  content: "";
  position: absolute;
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #19DFC9;
  transition: width .5s ease-in-out;
}

.main-nav__link:hover {
  color: #ffffff;
}

.main-nav--second .main-nav__link:hover {
  color: #0B54A0;
}

.main-nav__link:hover::after {
  width: 100%;
}

.main-nav--second .main-nav__link:hover::after {
  display: none;
}

.phone-call {
  display: flex;
  align-items: center;
  gap: 15px;
}

.phone-call__tel {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.phone-call__tel:hover {
  color: #19DFC9;
}

.phone-call--second .phone-call__tel {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #40444B;
}

.phone-call--second .phone-call__tel:hover {
  color: #0155AE;
}

.phone-call__icon {
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 900px;
  background: rgba(240, 243, 246, 0.07);
  transition: .3s;
}

.phone-call--second .phone-call__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 47px;
  border-radius: 900px;
  transition: .3s;
  background-color: #EEF4FA;
}

.phone-call__tel:hover .phone-call__icon {
  background-color: rgba(25, 223, 201, 0.2);
}

.phone-call--second .phone-call__tel:hover .phone-call__icon {
  background-color: rgba(1, 85, 174, 0.2);
}

.phone-call__btn {
  padding: 15px 20px;
  font-size: 11px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px;
  color: #0B54A0;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border-radius: 900px;
}

.phone-call--second .phone-call__btn {
  padding: 15px 20px;
  font-size: 11px;
  font-weight: 800;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #0155AE;
  border-radius: 900px;
  transition: .3s;
}

.phone-call--second .phone-call__btn:hover {
  color: #0E655B;
  background-color: #19DFC9;
}

.phone-call__btn:hover {
  color: #FFFFFF;
  background-color: #0B4888;
}

/* Content */
.page__main {
  min-height: 100vh;
}

/* Hero */

.page__hero {
  position: relative;
  z-index: 1;
  min-height: 1112px;
}

.hero {
  padding-top: 221px;
  padding-bottom: 232px;
  color: #FFFFFF;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero__bg.hero__bg--tablet {
  display: none;
}

.hero__bg.hero__bg--mobile {
  display: none;
}

.hero__tag {
  display: flex;
  align-items: center;
  gap: 5px;
  width: max-content;
}

.tag {
  padding: 9px 10px;
  border-radius: 13px;
  background: #17BBEE;
}

.tag__text {
  font-size: 11px;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 0.33px;
  text-transform: uppercase;
}

.hero__wrapper {
  display: flex;
  align-items: flex-start;
}

.promo__heading {
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 76px;
  font-weight: 800;
  line-height: 122%;
  letter-spacing: -1px;
  color: #FFFFFF;
}

.promo__text {
  max-width: 572px;
  margin-bottom: 34px;
  font-size: 21px;
  font-weight: 500;
  line-height: 169%;
  letter-spacing: 0.3px;
  color: #90BDEA;
}

.hero__features {
  margin-bottom: 110px;
}

.features {
  display: flex;
  align-items: flex-start;
  gap: 22px;
}

.features__item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.features__icon {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #0B4888;
}

.features__icon::before {
  content: '';
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border-radius: 50%;
  background-color: rgba(186, 207, 227, 0.03);
  z-index: -1;
}

.features__icon::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 1px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxNCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuMTQ1MjQ2IDE2LjcxOThDMS4xNjY5NiAxMy4zMjQ1IDIuODQ3NDIgMTAuMTYzNyA1LjA5MDY5IDcuNDE3ODNDNy4zMzM5NSA0LjY3MTk4IDEwLjA5NjEgMi4zOTQ4NSAxMy4yMTk0IDAuNzE2NDc4TDEzLjgxNTggMS44MjY0M0MxMC44MzgzIDMuNDI2NDggOC4yMDUwOCA1LjU5NzMzIDYuMDY2NTEgOC4yMTUwNEMzLjkyNzkzIDEwLjgzMjcgMi4zMjU5IDEzLjg0NiAxLjM1MTg3IDE3LjA4MjlMMC4xNDUyNDYgMTYuNzE5OFoiIGZpbGw9IiMxOERFQ0EiLz4KPC9zdmc+Cg==);
  width: 14px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.features__text {
  max-width: 145px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.hero__timer {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: flex-start;
  margin-top: 37px;
  max-height: 117px;
}

.timer {
  padding: 30px 16px 25px 26px;
  box-shadow: 109px 206px 65px 0 rgba(0, 0, 0, 0.00), 70px 132px 60px 0 rgba(0, 0, 0, 0.01), 39px 74px 50px 0 rgba(0, 0, 0, 0.03), 17px 33px 37px 0 rgba(0, 0, 0, 0.04), 4px 8px 20px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(14.5px);
  border-radius: 27px;
  background: linear-gradient(116deg, rgba(73, 33, 127, 0.59) -0.98%, rgba(33, 37, 126, 0.59) 95.36%);
}

.timer>span {
  font-family: "Nunito", sans-serif;
  letter-spacing: -0.5px;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.timer__countdown {
  position: absolute;
  top: -19px;
  left: 24px;
  padding: 12px 14px;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  border-radius: 900px;
  background: linear-gradient(97deg, #2685F4 -3.13%, #ED43C0 41.03%, #FF2567 79.82%, #FF3E07 121%);
}

.timer__num {
  font-size: 44px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 3px;
}

.timer__day {
  margin-top: 2px;
  display: block;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  opacity: 0.3;
}

.hero__bottom {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* .hero__order {} */

.order {
  display: flex;
  align-items: center;
  gap: 28px;
  cursor: pointer;
}

.order__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  background-color: #19DFC9;
  box-shadow: 0 0 62px rgba(25, 223, 201, 0.30), 0 0 35px rgba(6, 37, 53, 0.17);
}

.order__action {
  max-width: 177px;
  font-size: 32px;
  font-weight: 600;
  line-height: 108%;
  letter-spacing: 1px;
  transition: .3s;
}

.order__rotation {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .3s;
  transform: translate(-50%, -50%) rotate(0);
}

.order__icon::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 92px;
  height: 92px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTIiIGhlaWdodD0iOTIiIHZpZXdCb3g9IjAgMCA5MiA5MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgOTEuNUMyLjEyMTUyZS0wNiA2Ny4yMzI3IDkuNjQwMTUgNDMuOTU5MyAyNi43OTk3IDI2Ljc5OTdDNDMuOTU5MyA5LjY0MDE1IDY3LjIzMjcgLTIuODkzODVlLTA3IDkxLjUgMFYyLjA1NTU2QzY3Ljc3NzkgMi4wNTU1NiA0NS4wMjczIDExLjQ3OTEgMjguMjUzMiAyOC4yNTMyQzExLjQ3OTIgNDUuMDI3MyAyLjA1NTU3IDY3Ljc3NzkgMi4wNTU1NiA5MS41SDBaIiBmaWxsPSIjMThERUNBIi8+Cjwvc3ZnPgo=);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.order:hover .order__rotation {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

.order:hover .order__action {
  color: #19DFC9;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


/* Footer */

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 29px;
  border-bottom: 1px solid #F2F4FA;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__logo {
  width: 128px;
  height: 50px;
  flex-shrink: 0;
}

.footer__copyright {
  font-size: 13px;
  line-height: 134%;
  color: #7D838C;
}

.footer__policy-list-link {
  font-size: 13px;
  font-weight: 500;
  line-height: 134%;
  color: #5B5D61;
  border-bottom: 1px solid rgba(91, 93, 97, 0.35);
}