@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.h5,
.h4,
.h3,
.h2,
.h1 {
  margin: 0;
  color: #3E4043;
}

.h1 {
  font-size: 76px;
  font-weight: 800;
  line-height: 122%;
  letter-spacing: -1px;
  color: #FFFFFF;
}

.h2 {
  font-size: 51px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.9px;
}

.h3 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.5px;
}

p {
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  transition: .3s;
}

input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
  margin: 0;
}

textarea {
  resize: none;
}

.container {
  max-width: 1448px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 38px;
  z-index: 10;
  background-color: purple;
  border: none;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger {
  display: none;
}

.header__phone-call.phone-call--mobile {
  display: none;
}

.main-nav__list {
  display: flex;
  align-items: center;
  gap: 28px;
}

.main-nav__item {
  display: flex;
}

.main-nav__link {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #C0D0DF;
}

.main-nav__link::after {
  content: "";
  position: absolute;
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #19DFC9;
  transition: width .5s ease-in-out;
}

.main-nav__link:hover {
  color: #ffffff;
}

.main-nav--second .main-nav__link:hover {
  color: #0B54A0;
}

.main-nav__link:hover::after {
  width: 100%;
}

.main-nav--second .main-nav__link:hover::after {
  display: none;
}

.phone-call {
  display: flex;
  align-items: center;
  gap: 15px;
}

.phone-call__tel {
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.phone-call__tel:hover {
  color: #19DFC9;
}

.phone-call--second .phone-call__tel {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #40444B;
}

.phone-call--second .phone-call__tel:hover {
  color: #0155AE;
}

.phone-call__icon {
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 900px;
  background: rgba(240, 243, 246, 0.07);
  transition: .3s;
}

.phone-call--second .phone-call__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 47px;
  border-radius: 900px;
  transition: .3s;
  background-color: #EEF4FA;
}

.phone-call__tel:hover .phone-call__icon {
  background-color: rgba(25, 223, 201, 0.2);
}

.phone-call--second .phone-call__tel:hover .phone-call__icon {
  background-color: rgba(1, 85, 174, 0.2);
}

.phone-call__btn {
  padding: 15px 20px;
  font-size: 11px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px;
  color: #0B54A0;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border-radius: 900px;
}

.phone-call--second .phone-call__btn {
  padding: 15px 20px;
  font-size: 11px;
  font-weight: 800;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #0155AE;
  border-radius: 900px;
  transition: .3s;
}

.phone-call--second .phone-call__btn:hover {
  color: #0E655B;
  background-color: #19DFC9;
}

.phone-call__btn:hover {
  color: #FFFFFF;
  background-color: #0B4888;
}

/* Content */
.page__main {
  min-height: 100vh;
}

/* Hero */

.page__hero.hero {
  position: relative;
  z-index: 1;
  padding-top: 221px;
  padding-bottom: 232px;
  color: #FFFFFF;
}

.hero__bg.hero__bg--desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero__bg.hero__bg--tablet {
  display: none;
}

.hero__bg.hero__bg--mobile {
  display: none;
}

/* .hero__bottom {}

.hero__tag.tag {}

.hero__wrapper {}

.hero__order.order {}

.tag__text {}

.hero__promo.promo {}

.hero__timer.timer {}

.order__icon {}

.order__action {}

.promo__heading {}

.promo__text {}

.hero__features.features {}

.timer {}

.rotation {}

.features__item {}

.timer__countdown {}

.timer__days {}

.timer__hours {}

.features__icon {}

.features__text {}

.timer__num {}

.timer__day {}

.features__img {} */


/* Footer */

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 29px;
  border-bottom: 1px solid #F2F4FA;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__logo.logo {
  width: 128px;
  height: 50px;
  flex-shrink: 0;
}

.footer__copyright {
  font-size: 13px;
  line-height: 134%;
  color: #7D838C;
}

/* .footer__policy-list {}

.footer__phone-call.phone-call {}

.footer__policy-list-item {} */

.footer__policy-list-link {
  font-size: 13px;
  font-weight: 500;
  line-height: 134%;
  color: #5B5D61;
  border-bottom: 1px solid rgba(91, 93, 97, 0.35);
}