@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.h5,
.h4,
.h3,
.h2,
.h1 {
  margin: 0;
  color: #3E4043;
}

.h1 {
  font-size: 76px;
  font-weight: 800;
  line-height: 122%;
  letter-spacing: -1px;
  color: #FFFFFF;
}

.h2 {
  font-size: 51px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.9px;
}

.h3 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.5px;
}

p {
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  transition: .3s;
}

input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
  margin: 0;
}

textarea {
  resize: none;
}

.container {
  max-width: 1448px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}